* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: 0;
}

html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: #FFF;
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    font-size: 14px;
    font-size: 1.4rem;
}

nav {
    height: 73px;
    background-color: #FFF;
    color: #000;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100%;

    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

nav.scrolled {
  box-shadow: 2px 2px 3px rgba(0,0,0,.25);
  z-index: 10;
}

nav .left-nav {
    float: left;
}

nav .right-nav {
    float: right;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    line-height: 73px;
}

nav .brand {
    margin: 0 auto;
    font-family: "Cutive Mono", serif;
    font-size: 30px;
    font-size: 3rem;
}

.button {
    background-color: transparent;
    border: 1px solid #000;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    font-size: 2.4rem;
    color: #000;
    font-family: "Cutive Mono", serif;
    display: inline-block;
    padding: 18px 36px;
}

.button-inverse {
    border-color: #fff;
    color: #fff;
}

.button-inverse:hover {
    border-color: transparent;
    color: #000;
    background-color: #FFF;
    text-shadow: none;
}

.text-center {
  text-align: center;
}


#masthead {
    color: #fff; /* text color */
    text-shadow: -5px -3px 1px rgba(0,0,0,.5); /* drop shadow */
    background-color: #000;
    text-align: center;
    padding: 242px 30px;
    text-transform: uppercase;
    position: relative;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
}

#masthead.scrolled {
  position: fixed;
  width: 100%;
  top: -657px;
  z-index: 5;
}

#masthead.scrolled + #uiUx
{
  margin-top: 739px;
}

#masthead .contents {
    z-index: 3;
    position: relative;
}

#masthead .yellow {
    background: #ffba00; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #ffba00 50%, #000000 50%, #000000 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(50%,#ffba00), color-stop(50%,#000000), color-stop(50%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #ffba00 50%,#000000 50%,#000000 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #ffba00 50%,#000000 50%,#000000 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #ffba00 50%,#000000 50%,#000000 50%); /* IE10+ */
    background: linear-gradient(135deg,  #ffba00 50%,#000000 50%,#000000 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffba00', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    -webkit-background-size: 400% 100%;
    -moz-background-size: 400% 100%;
    background-size: 400% 100%;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
    background-position: 100% 0%;
    z-index: 2;
}

#masthead .color {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#masthead .pink {
    background: #f90dd5; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #f90dd5 50%, #000000 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(50%,#f90dd5), color-stop(50%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #f90dd5 50%,#000000 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #f90dd5 50%,#000000 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #f90dd5 50%,#000000 50%); /* IE10+ */
    background: linear-gradient(135deg,  #f90dd5 50%,#000000 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f90dd5', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */



    -webkit-background-size: 400% 100%;
    -moz-background-size: 400% 100%;
    background-size: 400% 100%;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
    background-position: 0% 0%;
    z-index: 1;
}

#masthead h1 {
    font-family: "Cutive Mono", serif;
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: 400;
    margin: 4px auto;
}

#masthead h2 {
    font-family: "Noto Serif", serif;
    font-weight: 400;
    font-size: 60px;
    font-size: 6rem;
    margin: 36px auto;
}

#aboutMe {
  background-color: #ffba00;
  color: #FFF;
}

#aboutMe header {
  margin-bottom: 90px;
}

#aboutMe header::after {
  display: block;
  content: '';
  clear: both;
}

#aboutMe .glasses-icon {
  float: right;
  text-align: right;
}

#aboutMe .glasses-icon .icon-glasses {
  font-size: 26rem;
  position: relative;
  right: -35%;
  color: #000;
}

#contactMe {
  color: #FFF;
  position: relative;
  background-color: #000;
}

#contactMe .background-image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url(../img/contact-bkg.jpg);
  background-size: cover;
  background-color: #000;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

#contactMe .contained {
  position: relative;
  z-index: 4;
}

#contactMe .background-image.focused {
  -webkit-filter: blur(25px);
  -moz-filter: blur(25px);
  -o-filter: blur(25px);
  -ms-filter: blur(25px);
  filter: blur(25px);
}

#contactMe label {
  font-family: "Noto Serif", serif;
  font-size: 24px;
  font-size: 2.4rem;
  text-transform: uppercase;
  width: 25%;
  vertical-align: top;
}

#contactMe .form-element {
  padding: 20px 0px 20px 30px;
  border-bottom: 1px solid #FFF;
  margin-bottom: 50px;
}

#contactMe .form-group .form-element .input {
  background: rgba(0, 0, 0, 0);
  border: none;
  width: 75%;
  box-sizing: border-box;
  height: 39px;
  margin-top: -1px;
  font-family: "Cabin", sans-serif;
  font-size: 24px;
  font-size: 2.4rem;
  margin: 0px 30px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;

}

#contactMe .input:-webkit-autofill,
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill
{
  background-color: rgba(250, 255, 189, 0);
  background-image: none;
  color: #FFF;
}

#contactMe .form-group .form-element:last-child {
  border-bottom: none;
}

#contactMe #message:focus
{
  height: 150px;
}

.row {
  margin-bottom: 90px;
}

.row:last-child {
  margin-bottom: 0px;
}

h1 {
  font-size: 60px;
  font-size: 6.0rem;
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  margin-bottom: 40px;
  margin-top: 0px;
  text-transform: uppercase;
}


.text-white {
  color: #FFF;
}


article {
  padding: 90px 0px;
}

.mac {
  padding: 15px;
  height: 268px;
  text-align: center;
}

.mac img {
  width: 330px;
  /*media query here for when it goes smaller than 1167 to just go to 100%*/
}

.contained {
  width: 1167px; /*media query here*/
  margin: 0 auto;
}

.row {
  width: 100%;
}

.row > [class*="col-"]
{
  float: left;
  display: inline-block;
}

[class*="col-"]
{
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-2 {
  width: 16.66666667%;
}

.col-offset-2 {
  margin-left: 16.66666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33%;
}

.col-6 {
  width: 50%;
}

.col-8 {
  width: 66.666666666667%;
}

.col-9 {
  width: 75%;
}

.row::after {
  content: ' ';
  clear: both;
  display: table;
}


.text-justified {
  text-align: justify;
}

.text-right {
  text-align: right;
}

#showcaseProject {
  background-color: #000;
}

.phone {
  margin-right: 16px;
}

.phone img {
  margin-top: 120px;
  width: 180px; /*todo media query maybe*/
}

.action-item {
  margin-top: 40px;
}




/* CSS3 Animations */
#masthead .yellow {
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -webkit-animation-name:yellow;

    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:linear;
    -moz-animation-name:yellow;
}
#masthead .pink, #masthead {
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -webkit-animation-name:pink;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:linear;
    -moz-animation-name:pink;
}
#masthead .yellow, #masthead, #masthead .pink {-webkit-animation-delay: 1s;-webkit-animation-duration:7s; -moz-animation-duration:7s;}



@-webkit-keyframes colors {
  0% {
      -webkit-filter: hue-rotate(0deg) brightness(100%) saturation(100%);
      background-position: 0% 100%;
  }
  17% {
      -webkit-filter: hue-rotate(0deg) brightness(100%) saturation(100%);
    background-position: 0% 0%;
  }
  50% {
     -webkit-filter: hue-rotate(265deg) brightness(95%) saturation(98%);
      background-position: 0% 0%;
  }
  87% {
      -webkit-filter: hue-rotate(265deg) brightness(95%) saturation(98%);
    background-position: 100% 0%;
  }
}


@-webkit-keyframes yellow {
  0% {
      -webkit-filter: opacity(1);
      background-position: 100% 0%;
  }
  17% {
      -webkit-filter: opacity(1);
    background-position: 0% 0%;
  }
  50% {
   -webkit-filter: opacity(0);
      background-position: 0% 0%;
  }
  87% {
      -webkit-filter: opacity(0);
    background-position: 100% 0%;
  }
}

@-webkit-keyframes pink {
  0% {
    text-shadow: 0px 0px 1px rgba(0,0,0,.25);
    background-position: 100% 0%;
  }
  14% {
    text-shadow: 2px 1px 1px rgba(0,0,0,.25);
  }
  17% {
    text-shadow: 2px 1px 1px rgba(0,0,0,.25);
    background-position: 0% 0%;
  }
  76% {
    text-shadow: 2px 1px 1px rgba(0,0,0,.25);
    background-position: 0% 0%;
  }
  96% {
  text-shadow: 0px 0px 1px rgba(0,0,0,.25);
}
  100% {
text-shadow: 0px 0px 1px rgba(0,0,0,.25);
background-position: 100% 0%;
  }
}

//fades into pink when yellow swipes

//stays pink for 3 seconds then pulls down to black

@-moz-keyframes colors {
  17% {
    background-color: #ffba00;
  }
  75% {
    background-color: #f90dd5;
  }
  100% {
    background-color: #000;
  }
}

/*ul.solarsystem:hover li {-webkit-animation-play-state: paused;} */







@font-face {
  font-family: 'kelsea';
  src:url('../fonts/kelsea.eot?9abcf1');
  src:url('../fonts/kelsea.eot?#iefix9abcf1') format('embedded-opentype'),
    url('../fonts/kelsea.woff?9abcf1') format('woff'),
    url('../fonts/kelsea.ttf?9abcf1') format('truetype'),
    url('../fonts/kelsea.svg?9abcf1#kelsea') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'kelsea';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-glasses:before {
  content: "\e600";
}
