---
layout: default
title: kelsea.io
---


{% for post in site.posts %}
<article class="item {% if forloop.index0 == 0 %}active{% endif %}" data-category="{{post.category}}">
  <div class="container info">
    <header class="row text-center">
      <h1>{{post.title}}</h1>
    </header>
    <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
      <p>{{post.content}}</p>
      <div class="text-center">
        <p><a class="link" href="http://{{post.link}}" target="_blank">{{post.link}}</a></p>
      </div>
    </div>
  </div>
  <div class="mockups">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
          {% for mockup in post.mockups %}
          <div class="mockup row text-center">
            <img src="{{mockup.image}}" alt='{{mockup.caption}}' title='{{mockup.caption}}'/>
            <p>{{mockup.caption}}</p>
          <div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</article>
{% endfor %}
